VIC_API_ROOT=http://localhost:3000/admin/api
NEXT_PUBLIC_VIC_API_ROOT=http://localhost:3000/admin/api
VIC_API_HOST=http://localhost:3000
NEXT_PUBLIC_VIC_API_HOST=http://localhost:3000
STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_HOST_URL=
